{%block header%}
	<meta charset="utf-8">  
	<title>Venture Capital Platform</title>
	<meta name="description" content="VC search enginer">
	<meta name="Salar Hajimirsadeghi" content="SitePoint">
	{% load static %}
	<link ref="{% static "css/bootstrap.min.css" %}" alt="css_file"/>
	<link ref="{% static "jss/bootstrap.min.js" %}" alt="js_file"/>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="{% static '/js/bootstrap.min.js' %}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<!-- <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script> -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>   -->
	<script src="https://code.jquery.com/jquery-3.2.1.js"> </script>
	<script src= {% static "js/ajax_search.js" %}> </script>
	<!-- <link ref="{% static "jss/ie10-viewport-bug-workaround.js" %}" alt="js_viewport" /> -->
{%endblock%}


<!-- took the below out because I'm already using it (I think) -->
<!-- <script>window.jQuery || document.write('<script src=j><\/script>')</script>
	<script>window.jQuery || document.write('<script src={% static "js/ajax_search.js" %}><\/script>')</script>
!-->	