<!-- API KEY: AIzaSyDRfw5n_46CwaeP2QQtGxXB2d63n40JEY8-->


{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    {% if VC_info%}
      <title>Dashboard | {{VC_info.first.vc_name}} </title>
    {%endif%}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% for vc in VC_info%}
        <a class="navbar-brand" href="#">{{vc.vc_name}}</a>
      {%endfor%}
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" action="/vc" method="get">
          <input class="form-control mr-sm-2" type="search" name='search_query' placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Analytics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Export</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
<!--             <li class="nav-item">
              <a class="nav-link" href="#">Nav item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nav item again</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">One more nav</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Another nav item</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Nav item again</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">One more nav</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Another nav item</a>
            </li> -->
          </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">          
          {% for vc in VC_info%}
          <img src="{{vc.image}}" width="150" height="150" class="img-fluid " alt="Generic placeholder thumbnail">

          
          <section class="row text-center placeholders">            
            <div class="col-6 col-sm-6 placeholder" style="padding-top: 50px;">                            
              <span class="text-muted">{{vc.description}}</span>
            </div>
            <div class="col-6 col-sm-4 placeholder">
              {%if vc.zipcode%}
                <iframe
                  width="250"
                  height="300"
                  frameborder="0" style="border:0"                  
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDRfw5n_46CwaeP2QQtGxXB2d63n40JEY8&q={{vc.zipcode}}" allowfullscreen>
                </iframe>      
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRfw5n_46CwaeP2QQtGxXB2d63n40JEY8&callback=initMap" type="text/javascript"></script>

                {%else%}
                  <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="250" height="300" class="rounded-circle" alt="Generic placeholder thumbnail">                  
                {% endif %}                  

              <h4> Address </h4>
              {%if vc.address%}
                <span class="text-muted"> {{vc.address}}</span>
              {% else %}
                <span class="text-muted"> Not Available </span>
              {% endif %}
            </div>
          </section>
          {% endfor%}

          <h2>Investments</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Company</th>
                  <th> Logo </th>
                  <th> Website </th>
                  <th>Total Funding</th>                  
                </tr>
              </thead>
              <tbody>
                {% for company in Investments %}
                  <tr>
                    <td>{{company.company_name}}</td>
                    <td>
                      <img src="{{company.image}}" width="50" height="50" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                    </td>
                    <td> <a href= "{{company.url}}"> {{company.url}} </a> </td>
                    <td> 
                      {% if company.total_funding > '0' %}
                        $ {{company.total_funding}} 
                      {% else %}
                        Not Available
                      {% endif %}

                    </td>
                  </tr>
                {% endfor %}                
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src={% static "js/jquery.min.js" %}><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>